<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Logic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Logic.Properties.Settings>
            <setting name="dbserver" serializeAs="String">
                <value>EALSQL1.eal.local</value>
            </setting>
            <setting name="dbname" serializeAs="String">
                <value>B_DB17_2018</value>
            </setting>
            <setting name="dbuser" serializeAs="String">
                <value>B_STUDENT17</value>
            </setting>
            <setting name="dbpassword" serializeAs="String">
                <value>B_OPENDB17</value>
            </setting>
        </Logic.Properties.Settings>
    </userSettings>
</configuration>