<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ex28.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <Ex28.Properties.Settings>
            <setting name="dbserver" serializeAs="String">
                <value />
            </setting>
            <setting name="dbname" serializeAs="String">
                <value />
            </setting>
            <setting name="dbuser" serializeAs="String">
                <value />
            </setting>
            <setting name="dbpassword" serializeAs="String">
                <value />
            </setting>
        </Ex28.Properties.Settings>
    </userSettings>
</configuration>